[Desktop Entry]
Name=PiKISS GUI
GenericName=PiKISS
Comment=Pi (Keep it simply stupid)
Categories=Utility;
Exec=pikiss-gui
Icon=pikiss-gui
Terminal=false
Type=Application
StartupNotify=true
